.ls-content-1 {
    margin: 2rem 0;

    .ls-content-1-holder {

        .ls-content-1-item {
            margin-bottom: 1.5rem;

            .ls-img-holder {
              
                img {
                    width: 100%;
                    height: auto;
                }
            }

            .ls-item-details {
                margin-top: 0.5rem;

                .ls-details-header {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: #565656;
                    font-size: 1.1rem;
                    font-weight: 700;

                    span {
                        color: #25A94C;
                        display: block;
                    }
                }

                .ls-details-text {
                    margin-top: 0.5rem;
                    font-size: 0.875rem;
                    font-weight: 500;

                    a {
                        color: #25A94C;
                        text-decoration: none;
                    }

                    button {
                        display: block;
                        text-transform: uppercase;
                        text-align: center;
                        margin: 0.8rem auto;
                        border: 1px solid #FF9900;
                        outline: none;
                        padding: 0.5rem 0.8rem;
                        color: #fff;
                        font-size: 0.875rem;
                        background-color: #FF9900;
                        border-radius: 81px;
                        cursor: pointer;
                        transition: all 0.3s ease-in;
                    }

                    button:hover {
                        color: #ff9900;
                        background-color: #fff;
                        border: 1px solid #ff9900;
                        transition: all 0.3s ease;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:768px) {
    .ls-content-1 {

        .ls-content-1-holder {
    
            .ls-content-1-item {
                display: flex;
                margin-bottom: 1rem;

                .ls-img-holder {
                    flex: 0 0 50%;
                    margin-right: 1rem;
                    cursor: pointer;

                    img {
                        transition: all 0.3s ease-in;
                    }
                }

                .ls-img-holder:hover {

                    img {
                        transform: scale(0.95);
                        transition: all 0.3s ease;
                    }
                }
    
                .ls-item-details {
                    margin-top: 0;
    
                    .ls-details-header {
                        font-size: 1rem;
                    }
    
                    .ls-details-text {
                        font-size: 0.6rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .ls-content-1 {

        .ls-content-1-holder {
    
            .ls-content-1-item {
                margin-bottom: 2rem;
              
                .ls-item-details {
    
                    .ls-details-header {
                        font-size: 1.5rem;
                        line-height: 1.5rem;
                    }
    
                    .ls-details-text {
                        font-size: 0.875rem;

                        p {
                            margin-bottom: 0.3rem;
                        }

                        button {
                            font-size: 1rem;
                            margin-top: 1rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
    .ls-content-1 {

        .ls-content-1-holder {
    
            .ls-content-1-item {
              
                .ls-item-details {
    
                    .ls-details-header {
                        font-size: 1.8rem;
                        line-height: 1.8rem;
                    }
    
                    .ls-details-text {
                        margin-top: 1rem;
                        font-size: 0.975rem;

                        p {
                            margin-bottom: 0.5rem;
                        }

                        .last-p {
                            margin-bottom: 1.6rem;
                        }

                        button {
                            font-size: 1rem;
                            margin-top: 2.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    .ls-content-1 {

        .ls-content-1-holder {
    
            .ls-content-1-item {
    
                .ls-item-details {
    
                    .ls-details-header {
                        font-size: 2rem;
                        line-height: 2rem;
                    }
    
                    .ls-details-text {

                        p {
                            margin-bottom: 1rem;
                        }

                        button {
                            font-size: 1rem;
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}