.ls-producing-content {
    margin: 1rem 0;

    .ls-content-holder {

        p {
            font-size: 0.9375rem;
            font-weight: 300;
            margin-bottom: 0.5rem;
            line-height: 1.5rem;
        }

        .ls-content-mix {

            .ls-img-holder {
                margin-bottom: 0.5rem;

                img {
                    width: 100%;
                }
            }

            .ls-mix-text {
                font-weight: 0.9375rem;
                line-height: 1.5rem;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .ls-producing-content {
        margin: 2rem 0;

        .ls-content-holder {
    
            p {
                font-size: 0.9375rem;
                font-weight: 300;
                margin-bottom: 0.5rem;
                line-height: 1.5rem;
            }

            p:first-child {
                margin-bottom: 1rem;
            }
    
            .ls-content-mix {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;

                .ls-img-holder {
                    flex: 0 0 50%;
                    margin: 0 0.8rem 0 0;
    
                    img {
                        width: 100%;
                    }
                }
    
                .ls-mix-text {
                    font-weight: 0.9375rem;
                    line-height: 1.5rem;
                    
                    .ls-text {
                        margin-bottom: 0.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .ls-producing-content {
        margin: 3rem 0;
    }
}