.ls-product-gallery {
    margin: 1rem 0;

    .ls-gallery-holder{

        .ls-gallery-right {
            position: relative;
            padding: 2rem;

            .ls-mySlides {
                display: none;
            }

            .ls-btn {
                position: absolute;
                bottom: 12%;
                cursor: pointer;
            }

            .ls-btn-prev {
                left: 2%;
            }

            .ls-btn-next {
                right: 2%;
            }

            .ls-thumbnail-img {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 1rem;

                .ls-thumbnail-item {
                    padding: 0.2rem;
                    border: 1px solid #e5e5e5;
                }

                .ls-thumbnail-item-active {
                    border: 1px solid #3BAB5D;
                }
            }
        }

        .ls-gallery-left {
            margin-top: 0.5rem;

            .ls-right-header {
                text-transform: uppercase;
                text-decoration: none;
                color: #565656;
                font-size: 1.1rem;
                font-weight: 700;

                span {
                    color: #25A94C;
                    display: block;
                }
            }

            .ls-gallery-border {
                display: block;
                height: 1px;
                width: 100%;
                background-color: #e5e5e5;
                margin: 0.5rem 0;
            }

            .ls-gallery-details {

                p {
                    font-size: 0.875rem;
                    color: #000;
                    margin-bottom: 0.5rem;
                }
            }

            button {
                display: block;
                text-transform: uppercase;
                text-align: center;
                margin: 0.8rem 0;
                border: none;
                outline: none;
                padding: 0.5rem 0.8rem;
                color: #fff;
                font-size: 0.875rem;
                background-color: #FF9900;
                border-radius: 81px;
                cursor: pointer;
            }

            button:hover {
                color: #ff9900;
                background-color: #fff;
                border: 1px solid #ff9900;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .ls-product-gallery {
        margin: 4rem 0;

        .ls-gallery-holder{
            display: flex;
            align-items: center;
    
            .ls-gallery-right {
                flex: 0 0 50%;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
                background: #fff;
                margin-right: 1rem;
            }
    
            .ls-gallery-left {
                margin-top: 0;

                .ls-right-header {
                    font-size: 1.6rem;
                    line-height: 1.6rem;
                }
    
                .ls-gallery-details {
    
                    p {
                        font-size: 0.8rem;
                        font-weight: 300;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 991px) {
    .ls-product-gallery {
        margin: 5rem 0;

        .ls-gallery-holder{
    
            .ls-gallery-right {
                margin-right: 1.5rem;
            }
    
            .ls-gallery-left {

                .ls-right-header {
                    font-size: 2.25rem;
                    line-height: 2.625rem;
                }
    
                .ls-gallery-details {
    
                    p {
                        font-size: 0.9375rem;
                        font-weight: 300;
                    }
                }

                .ls-gallery-border {
                    margin: 1rem 0;
                }

                button {
                    font-size: 1rem;
                }
            }
        }
    }
}